<div id = "keytest" class="myBlock">测试keyframes less </div>
<div id = "keytest2" class="parentBlock"><div class="colorBlock">测试keyframes less</div> </div>
<img src="img/html5/sbg4.jpg" alt="" class="animated flip" id="bg4"/>
<img src="img/html5/sbg5.jpg" alt="" class="animated hinge" id="bg5"/>
<img src="img/html5/sbg1.jpg" alt="" class="animated rotateInDownLeft" id="bg1"/>
<img src="img/html5/sbg2.jpg" alt="" class="animated lightSpeedIn" id="bg2"/>
<img src="img/html5/sbg3.jpg" alt="" class="animated flash" id="bg3"/>
