
/* ----------left样式---------- */

a {
    text-decoration: none;
}
a:hover, a:focus {
 
     text-decoration: none;
}

.left-side{
		background: none repeat scroll 0 0 #f4f4f4;
		box-shadow: -3px 0 8px -4px rgba(0, 0, 0, 0.07) inset;
	  position: absolute;
	  display:block;
	  padding:10px;


}


.sone-left-menu {
    width: 182px;
    border: 1px solid #e2e2e0;
    background: #fff;
    float: left;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    margin-top:10px;
    .item {
        background: #f8f8f8;
        position: relative;
        border-bottom: 1px solid #dcdbd9;
        cursor: pointer;
		/*&:hover{
			background-color:#fff;
			}*/
		.itm-one{
			 .fa{
				  width:52px;
				 }
			}
        .itm-lv1 {
            padding: 10px 0;
            /* height: 65px; */
            border-left: 5px solid #f8f8f8;
            .tit {
                float: left;
                width: 53px;
				height:60px;
                span {
                    color: #54ade5;
                    font-family: fontawesome;
                    display: block;
					line-height:30px;
                }
				span.fa{
					font-size:18px;
					}
                s {
                    position: absolute;
                    left: 38px;
                    top: 18px;
                    width: 21px;
                    height: 21px;
                    line-height: 20px;
                    text-decoration: none;
                    text-align: center;
                    border-radius: 11px;
                    background: #e55473;
                    color: #fff;
                    display:none
                }
            }
            .con {
                height:60px;
                border-left: 1px solid #eaeae8;
                padding:0px 0 0 10px;
                margin-left: 53px;
                /* width: 107px; */
                .info{
                    span {
                        display: inline-block;
                        font: 14px "Microsoft Yahei";
                        b {
                            color: #54ade5;
                            text-decoration: none;
                            font-weight: normal
                        }

                    }
                }

                .price {
                    font: 18px "Microsoft Yahei";
     
                    strong {
						color:#54ade5;
                        font-size: 18px;
                        font-weight: bold;
						
                    }
                }
            }
        }
        .itm-lv2 {
            display: none;
            background: #54ade5;
            zoom: 1;
            ul {
                border-left: 5px solid #2a79ab;
                li{

                    a {
                        display: block;
                        height: 35px;
                        color: #fff;
                        font: 14px/34px "Microsoft Yahei";
                        padding-left: 18px;
                        text-decoration: none;
                        &:hover {
                            background: #2d94d5;
                        }
                        .curr {
                            background: #2d94d5;
                        }
                    }
                }
            }
        }
    }
    .item-open {
        background: #fff;
        .itm-lv1 {
            border-left: 5px solid #2a79ab;
            .con {
                .price {
                    color: #54ade5;
                }
            }
        }
        .itm-lv2 {
            display: block;
        }
    }

    .resizer {
        height: 34px;
        line-height: 34px;
        text-align: center;
        background: #f8f8f8;
        cursor: pointer;
        b {
            display: inline-block;
            margin-top: 14px;
            width: 8px;
            height: 7px;
            background: url(/img/icons.png) no-repeat -42px -238px;
        }
    }
}

.narrow-wrap {
    #main {
        margin-left: 70px;
    }
    .sone-left-menu {
        width: 58px;
        .item {
            background: #54ade5;
            z-index: 10;
			.itm-one{
			 
			
			}
			
			
            .itm-lv1 {
                border-left: 0 none;
			
                .con {
                    display: none;
                }
                .tit {
                    float: none;
                    color: #fff;
                    width: 58px;
                    text-align: center;
                    span {
                        color: #fff;
                    }
                }
            }
        }
        .item-open {
			
			background-color:#fff;
			color:#54ade5;	
			&:hover{
		     	color:#54ade5;	
				}
			.itm-one{
				color:#54ade5;
			}
            .itm-lv1 {
				 background:url(../img/menu-active.png) no-repeat scroll right center transparent !important;
                .tit {
                    span {
                        color: #54ade5;
                    }
                }
            }
        }
        .itm-lv2 {
            display: none;
            position: absolute;
            left: 58px;
            top: 0;
            width: 180px;
            border: 1px solid #dcdbd9;
            background: #fbfbfa;
            ul {
                border-left: 0 none;
                li {
                    a {
                        color: #666;
                        &:hover{
                            background: #eaeae8;
                        }
                        .curr {
                            background: #eaeae8;
                        }
                    }
                }
            }
        }
        .resizer {
            background: #54ade5;
            b {
                background:url(../img/icons.png) no-repeat -42px -245px
            }
        }
    }

}


.sone-market {
    width: 50px;
    height: 34px;
}

/*************widgets.html的css*********************/
.small-box {
    border-radius: 2px;
    display: block;
    margin-bottom: 15px;
    position: relative;
	.inner {
    padding: 10px;
	color:#f9f9f9 ;
		h3 {
		font-size: 38px;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 0;
		white-space: nowrap;
		
	}
	p {
    font-size: 15px;
	margin: 0 0 0px;
		 small {
		color: #f9f9f9;
		display: block;
		font-size: 12px;
		margin-top: 5px;
		}
		}
}
	 .icon {
    bottom:25px;
    color: rgba(0, 0, 0, 0.15);
    font-size: 90px;
    position: absolute;
    right: 5px;
    top: auto;
    z-index: 0;
	
}
	.small-box-footer {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
		color: rgba(255, 255, 255, 0.8);
		display: block;
		padding: 3px 0;
		position: relative;
		text-align: center;
		text-decoration: none;
		z-index: 10;
		&:hover {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
		color: #fff;
	}
	}
}
.bg-aqua {
    background-color: #00c0ef !important;
	   color: #f9f9f9 !important;
}
.bg-green {
    background-color: #00a65a !important;
   color: #f9f9f9 !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
	   color: #f9f9f9 !important;
}
.bg-red {
    background-color: #f56954 !important;
	   color: #f9f9f9 !important;
}
.small-box:hover .icon {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: tansformAnimation;
    animation-timing-function: ease;
}
@keyframes tansformAnimation {
0% {
    font-size: 90px;
}
100% {
    font-size: 100px;
}
}
.panel-success {
    border-top:2px solid #00a65a;

}
.panel-success > .panel-heading {
    background-color: #fff;
    border-color:transparent;
    color: #3c763d;
}
.panel-warning {
    border-top:2px solid #f39c12;

}
.panel-warning > .panel-heading {
    background-color: #fff;
    border-color:transparent;
    color: #8a6d3b;
}
.panel-info {
    border-top:2px solid #00c0ef;

}
.panel-info > .panel-heading {
    background-color: #fff;
    border-color:transparent;
    color: #31708f;
}
.panel{
	.pagination {
    margin:0;
 
}

	}