
/* ----------left样式---------- */

a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}
li{
	list-style:none;}
#wrapper{
	background: none repeat scroll 0 0 #f4f4f4;
	}
.left-side {
	background: none repeat scroll 0 0 #f4f4f4;
	box-shadow: -3px 0 8px -4px rgba(0, 0, 0, 0.07) inset;
	position: absolute;
	display: block;
	padding: 10px;

}
.sone-left-menu {
	width: 182px;
	border: 1px solid #e2e2e0;
	background: #fff;
	float: left;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	margin-top: 10px;
	 .itm-one {
		 .itm-lv1 {
			 .fa {
			 width:58px;
			}
		}
	}
.item {
	background: #f8f8f8;
	position: relative;
	border-bottom: 1px solid #dcdbd9;
	cursor: pointer;
		/*&:hover{
			background-color:#fff;
			}*/
		
	
        .itm-lv1 {
		 padding: 10px 0;
		 border-left: 5px solid #f8f8f8;
		 span {
		 color: #54ade5;
		 //font-family: fontawesome;
		 line-height:30px;
		}
		 .tit {
		 float: left;
		 width: 58px;
		 height:60px;
		 text-align:center;
			 span.fa {
			 font-size:18px;
			}
			 s {
			 position: absolute;
			 left: 38px;
			 top: 18px;
			 width: 21px;
			 height: 21px;
			 line-height: 20px;
			 text-decoration: none;
			 text-align: center;
			 border-radius: 11px;
			 background: #e55473;
			 color: #fff;
			 display:none
			}
		}
 .con {
 height:60px;
 border-left: 1px solid #eaeae8;
 padding:0px 0 0 10px;
 margin-left: 53px;
       
                .info {
 span {
 display: inline-block;
 font: 14px "Microsoft Yahei";
 b {
 color: #54ade5;
 text-decoration: none;
 font-weight: normal
}
}
}
 .price {
 font: 18px "Microsoft Yahei";
 strong {
 color:#54ade5;
 font-size: 18px;
 font-weight: bold;
}
}
}
}
.itm-lv2 {
	display: none;
	background: #54ade5;
	zoom: 1;
 ul {
 border-left: 5px solid #2a79ab;
 li {
 a {
 display: block;
 height: 35px;
 color: #fff;
 font: 14px/34px "Microsoft Yahei";
 padding-left: 12px;
 text-decoration: none;
 position: relative;
 &:hover {
 background: #2d94d5;
}
 .curr {
 background: #2d94d5;
}
}
}
}
}
}
.item-open {
	background: #fff;
 .itm-lv1 {
 border-left: 5px solid #2a79ab;
 .con {
 .price {
 color: #54ade5;
}
}
}
/*  border-left: 5px solid #fff;
		}*/
.itm-lv2 {
	display: block;
}
}
.resizer {
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: #f8f8f8;
	cursor: pointer;
 b {
 display: inline-block;
 margin-top: 14px;
 width: 8px;
 height: 7px;
 background: url(../img/icons.png) no-repeat -42px -238px;
}
}
}
.narrow-wrap {
	 #main {
	 margin-left: 70px;
	}
.sone-left-menu {
	width: 58px;
 .item {
	 background: #54ade5;
	 z-index: 10;
	 .itm-lv1 {
		 border-left:none;
		
		 .con {
		 display: none;
		}
		 span {
		 color: #fff;
		}
		 .tit {
		 float: none;
		 color: #fff;
		 width: 58px;
		 text-align: center;
			 span {
			 color: #fff;
			}
		}
	 span.itm-name {
	 display:none;
	}
}
}
	.item-open {
		background-color: #fff;
		color: #fff;
	
		 &:hover {
		 color:#54ade5;
		  background:url(../img/menu-active.png) no-repeat scroll right center transparent !important;
		}
	
		.itm-lv1 {
			
			 span {
			 color:#54ade5;
			}
		
		 
			.tit {
				 span {
				 color: #54ade5;
				}
			}
		}
	}
	.itm-lv2 {
		display: none;
		position: absolute;
		left: 57px;
		top: 0;
		width: 180px;
		border: 1px solid #dcdbd9;
		background: #fbfbfa;
		
		 ul {
			  position: relative;
			 border-left:none;
			
		 
			 li {
				  position: relative;
				 &:after {
						border-left: 1px dashed #54ade5;
						bottom: 0;
						content: "";
						display: block;
						left: 22px;
						position: absolute;
						top: 0;
						width: 0;
					}
				 &:before {
					border-top: 1px dashed #54ade5;
					   content: "";
						display: block;
						left: 25px;
						position: absolute;
						top: 17px;
						width: 9px;
				}
				 a {
				 color: #54ade5;
				 padding-left:37px;
					 &:hover {
					 background: #f5f5f5;
					}
					 .curr {
					 background: #f5f5f5;
					}
				}
			}
		}
	}
	.resizer {
		background: #54ade5;
		 b {
		 background:url(../img/icons.png) no-repeat -42px -245px
		}
	}
}
}
.sone-market {
	width: 50px;
	height: 34px;
}
/*************widgets.html的css*********************/
.small-box {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: rgba(253,253,253,1);
	border-radius: 2px;
	display: block;
	margin-bottom: 15px;
	position: relative;
 .inner {
 padding: 10px;
 h3 {
 font-size:22px;
 font-weight:100;
 margin: 0 0 10px;
 padding: 0;
 white-space: nowrap;
}
 p {
 font-size: 15px;
 margin: 0 0 0px;
 small {
 display: block;
 font-size: 12px;
 margin-top: 5px;
}
}
}
.icon {
	bottom: 25px;
	position: absolute;
	right: 5px;
	top: auto;/*  z-index: 0;*/
	
}
}
.bg-aqua {
	border-left: 3px solid #00c0ef !important;
}
.bg-green {
	border-left: 3px solid #00a65a !important;
}
.bg-yellow {
	border-left: 3px solid #f39c12 !important;
}
.bg-red {
	border-left: 3px solid #f56954 !important;
}
.small-box:hover .icon {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: tansformAnimation;
	animation-timing-function: ease;
}
@keyframes tansformAnimation {
0% {
 font-size: 90px;
}
100% {
 font-size: 100px;
}
}
.panel-success {
	border-top: 2px solid #00a65a;
}
.panel-success > .panel-heading {
	background-color: #fff;
	border-color: transparent;
	color: #3c763d;
}
.panel-warning {
	border-top: 2px solid #f39c12;
}
.panel-warning > .panel-heading {
	background-color: #fff;
	border-color: transparent;
	color: #8a6d3b;
}
.panel-info {
	border-top: 2px solid #00c0ef;
}
.panel-info > .panel-heading {
	background-color: #fff;
	border-color: transparent;
	color: #31708f;
}
.panel {
 .pagination {
 margin:0;
}
}
/**************tab.html********************/
.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
	text-decoration: none;
}
.example-tab-one {
 .tab-content {
 border:1px solid #ddd;
 border-top:0 solid #ddd;
 padding:10px;
}
.nav-tabs {
 li {
 a {
 border-width:3px 1px 1px 1px;
 border-style: solid;
 border-radius:0;
 border-color: #54ade5 #ddd transparent;
 margin-right: -1px;
}
}
li.active {
 a {
 border-width:3px 1px 1px 1px;
 border-color: #2a79ab #ddd transparent;
 &:focus {
 border-color: #2a79ab #ddd transparent;
}
 &:hover {
 border-color: #2a79ab #ddd transparent;
}
}
}
}
}
.example-tab-two {
 .tab-content {
 border:1px solid #ddd;
 border-top:0 solid #ddd;
 padding:10px;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
 li {
 a {
 border-radius:0;
 margin-right: -1px;
}
}
li.active {
 a {
 .tabtwo;
 &:focus {
 .tabtwo;
}
 &:hover {
 .tabtwo;
}
}
}
}
}
.tabtwo {
	border-radius: 0;
	background: #fff;
}
.example-tab-three {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
 .tab-content {
 padding:10px;
}
.nav-tabs {
	background-color: rgba(233,233,233,.1);
	border-bottom: 3px solid #54ade5;
 li {
 a {
 border-radius:0;
 border-width:1px;
 border-style: solid;
 border-color:transparent;
}
}
li.active {
 a {
 .tabthree;
 &:focus {
 .tabthree;
}
 &:hover {
 .tabthree;
}
}
}
}
}
.tabthree {
	background: #54ade5;
	color: #fff;
}
.tabBlock .tabBlock-tabs {
	cursor: pointer;
}
.sj(@left,@color) {
	position: relative;
	&:before{
		content: "";
	position: absolute;
	left:@left;
	top: -10px;
	width: 0;
	height: 0;
	border-bottom:10px solid @color;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	}
}
.alert-dis1{
	
	.sj(3%,#d9edf7);
	}
.alert-dis2{
	
	.sj(28%,#dff0d8);
	}
.alert-dis3{
	
	.sj(54%,#fcf8e3);
	}
.alert-dis4{
	
	.sj(80%,#f2dede);
	}
/**************treeview.html********************/
#treeview8 .badge,#treeview9 .badge{
	background-color:#fff;
	color:#1abc9c;
}





.bs-example {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
	position: relative;
	padding:10px;
	p{
		margin-bottom:0px;
		}

}
.highlight pre{
	
	  border-radius:0;
	   margin-top:-1px;
	}
.bs-example-bg-classes p{
	padding:10px;
	margin-bottom:10px;
	
	
	}
.nt {
    color: #2f6f9f;
}
.na {
    color: #4f9fcf;
}
.s {
    color: #d44950;
}
